{% load leaflet_tags %}
{% load geojson_tags %}
{% load static %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.v3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/momentjs/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/daterangepicker/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/proj4-src.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/proj4leaflet.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker/daterangepicker.css' %}" />
  </head>
  <body>
    <h1>Tracker {{ tracker.name }} ({{ tracker.uuid }})</h1>
    <h2>Showing {{ locations|length }} of {{ total_locations }} locations from {{ not_before }} to {{ not_after }}.</h2>
    <h3>Time zone is {{ now|date:"T" }} ({{ TIME_ZONE }}).</h3>
    <p><input type="text" name="datetimefilter" size=30></p>
    <span>Rolling Live Refresh (30 sec)</span>&nbsp;<input type="checkbox" id="autoRefreshCheckbox" value="true" /><br>
    <p><a href="{% url 'tracker_list' %}">Back to tracker list</a></p>
    <div id="map" class="map"></div>
    <script>
      // the token for kortforsyningen
      var kftoken = '{{ kftoken }}';
    // map init function
    function MapReadyCallback() {
        var map = this;
        var geojsonLayer = L.geoJson(
            geojson, {
                onEachFeature: onEachFeature,
            },
        ).addTo(map);
        map.fitBounds(geojsonLayer.getBounds(), {maxZoom: 13});
    };

    // callback to add a popup for each pointer
    function onEachFeature(feature, layer) {
        layer.bindPopup(
            JSON.stringify(feature.properties, null, 4)
        );
    };

    // geojson data
    geojson = {{ geojson|safe }}

    </script>
    <script type="text/javascript" src="{% static 'js/kfmap.js' %}"></script>
    <script>
    // add daterangepicker
    $(function() {
      $('input[name="datetimefilter"]').daterangepicker({
        "timePicker": true,
        "timePicker24Hour": true,
        "startDate": "{{ not_before }}",
        "endDate": "{{ not_after|default:now }}",
        locale: {
          format: 'YYYY-MM-DD HH:mm'
        }
      }, function(start, end, label) {
           window.location.href = window.location.href.split('?')[0] + "?not_before=" + start.format('YYYY-MM-DD HH:mm') + "&not_after=" + end.format("YYYY-MM-DD HH:mm");
      });
    });

    // reload every 30 secs with no filter to get latest, if checked
    setInterval(function ()
    {
        if (document.getElementById('autoRefreshCheckbox').checked)
        {
            window.location.href = window.location.href.split('?')[0];
        }
    }, 30000);

    </script>
  </body>
</html>
