{% load leaflet_tags %}
{% load geojson_tags %}
{% load static %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <script>
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        L.geoJson({{ geojson|safe }}).addTo(map);
      });
    </script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.v3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/momentjs/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/daterangepicker/daterangepicker.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker/daterangepicker.css' %}" />
  </head>
  <body>
    <h1>Tracker {{ tracker.uuid }}</h1>
    <h2>Showing {{ locations|length }} of {{ total_locations }} locations</h2>
    <input type="text" name="datetimefilter" size=30>
    {% leaflet_map "main" %}
    <script>
    $(function() {
      $('input[name="datetimefilter"]').daterangepicker({
        "timePicker": true,
        "timePicker24Hour": true,
        "startDate": "{{ not_before }}",
        "endDate": "{{ not_after|default:now }}",
        locale: {
          format: 'YYYY-MM-DD HH:mm'
        }
      }, function(start, end, label) {
           console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
           window.location.href = window.location.href.split('?')[0] + "?not_before=" + start.format('YYYY-MM-DD hh:mm') + "&not_after=" + end.format("YYYY-MM-DD hh:mm");
      });
    });
    </script>
  </body>
</html>
