{% load leaflet_tags %}
{% load geojson_tags %}
{% load static %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
  </head>
  <body>
    <h1>Trackers</h1>
    <p><a href="{% url 'tracker_create' %}">Create New Tracker</a></p>
    <p>
    <table style="border: 1px solid black">
      <thead>
        <tr style="border: 1px solid black">
          <th>Name</th>
          <th>Description</th>
          <th>LoRa DevEUI</th>
          <th>LoRa DevAddr</th>
          <th>LoRa AppSessionKey</th>
          <th>LoRa NetSessionKey</th>
          <th>Last seen</th>
          <th>Locations</th>
          <th>Config</th>
        </tr>
      </thead>
      <tbody>
        {% for tracker in tracker_list %}
        <tr>
          <td><a href="{% url 'tracker_detail' tracker_uuid=tracker.id %}">{{ tracker.name }}</a></td>
          <td>{{ tracker.description }}</td>
          <td>{{ tracker.lora_device_eui }}</td>
          <td>{{ tracker.lora_device_addr }}</td>
          <td>{{ tracker.lora_app_session_key.hex }}</td>
          <td>{{ tracker.lora_network_session_key.hex }}</td>
          <td>{{ tracker.location_set.last.timestamp|default:"N/A" }}</td>
          <td>{{ tracker.location_set.count }}</td>
          <td><a href="{% url 'tracker_config' tracker_uuid=tracker.id %}">config.py</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
